* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  background-color: #85BDA6;
}

h1 {
  color:white;
  text-align: center;
  padding: 1em 0;
  font-size: 5em;
  font-weight: 300;
  letter-spacing: 5px;
  margin:0;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('../img/table-tennis.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  border-bottom: 1px solid black;
}

ol {
  margin-left:1em;
}

ul {
  margin-left:1.4em;
}

section {
  float:left;
  width:25%;
  height:100%;
  padding-left: 2em;
  background-color: #C0D7BB;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

main {
  margin-top:0;
  padding: 0 1em 0.5em 1em;
  margin-left: 25%;
  position:absolute;
  width:100%;
}

.about {
  font-size:1.3em;
  color:#887880;
}

h3 {
  color:black;
}
