* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  text-align: center;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('../img/table-tennis.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
}

h1 {
  color:white;
  padding: 1em 0;
  font-size: 5em;
  font-weight: 300;
  letter-spacing: 5px;
  margin:0;

}

button {
  padding:3px;
  border-radius: 15%;
}

main {
  position: relative;
  top: -1.4em;
}

.aboutme {
  position:absolute;
  top: 1em;
  right:1em;
  z-index: 999;
}

.playArea {
  position: relative;
  margin:auto;
  background-color: rgba(253, 242, 233, 0.7);
  width:60%;
  border-radius: 10px;
  border: 2px solid white;
  padding-bottom: 1em;
}

ul, ol {
  list-style-type: none;
}

a {
  color:rgba(0, 0, 0, 0.4);
}

a:hover {
  color:rgba(0, 0, 0, 0.8);
}
